.wrapper{
  height: 70%;
  position: absolute;
  width: 100%;
  top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ion-button{
  width: 70%;
}

.quiz{
  &__logo{
    margin-top: 2rem;
    width: 50%;
  }
  &__game-box, &__score-box{
    transform: translateX(1000px);
  }
}

