<ion-content>
  <img class="quiz__logo" src="/assets/GAME_LOGO.png" alt="">

  <div class="wrapper" #menu>

    <ion-button expand="full" (click)="openCategories()" color="light">
      New Game
    </ion-button>
    <ion-button expand="full"(click)="openHighscore()" color="light">
      Highscore
    </ion-button>
  </div>

  <div class="wrapper quiz__score-box" #score>
    <ion-button expand="full" fill="clear" color="light" (click)="showMenu()">
      <ion-icon name="chevron back-outline" slot="start"></ion-icon> Back
    </ion-button>
    Score
  </div>

  <div class="wrapper quiz__game-box" #game>
    <ion-button expand="full" fill="clear" color="light" (click)="showMenu()">
      <ion-icon name="chevron back-outline" slot="start"></ion-icon> Back
    </ion-button>
    Game
  </div>

</ion-content>
